p{
    color: blueviolet;
    background-color: aqua;
    margin: 50px;
    padding: 100px;
    line-height: 50px;
    border-style: groove;
    border-color: crimson;
    border-width: 20px;
    border-radius: 900px;
    border-top-left-radius: 50%;
}
span{
    border-style: dotted;
    border-radius: 50px;
    border-color: black;
    background-color: aqua;
    width: 100px;
    height: 200px;
}
